.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 3rem;
}

.App-link {
  color: #61dafb;
}

button:hover {
  background-color: none;
  cursor: pointer;
}
